// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  padding: 0px;
  margin: 0;
}

div.main {
  display: flex;
  flex-direction: row;
}

/*
 justifyContent: "flex-start",
        padding: '10px',
        width: '35%',
        background: '#f0f0f0',
        padding: '20px 20px 20px 20px',
        margin: '30px 10px 10px 30px'
 */

div.menu {
  justify-content: flex-start;
  padding: 10px;
  width: 35%;
  margin: 30px 10px 10px 10px;

  ul {
    list-style: none;
    padding: 0;
    li {
      border-bottom: 1px dashed grey;
    }
  }
}


div.addProduct {
  position: absolute;
  left: 35%;
  top: 60%;
  flex-direction: space-between;
}

div.product {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 30px 10px 10px 30px;
}